{% extends 'base.html' %}
{% from "macros.html" import render_company,render_job %}

{% block title %}Home{% endblock %}

{% block head %}
<div class='jumbotron'>
    <div class='container'>
        <h1>JOBPLUS</h1>
        <p>领先的互联网、招聘平台</p>
    </div>
</div>
{% endblock %}


{% block body %}
<div class='row'>
<!--导航栏-->
<ul class='nav nav-tabs list-title'>
<li role='presentation' class='active'><a href='#'>新职位</a></li>
</ul>
<!--职位信息-->
<div class='newest-job-list'>
    {% for job in job_pagination.items %}
    {{ render_job(job) }}
    {% endfor %}
</div>
</div>
<p class='list-more text-center'>
<a href='{{ url_for('job.index') }}' class='btn btn-success btn-lg list-more-btn'>查看更多</a>
</p>



<!--导航栏-->
<div class='row'>
<ul class='nav nav-tabs list-title'>
<li role='presentation' class='active'><a href='#'>新公司</a></li>
</ul>
<!--公司信息-->
<div class='newest-company-list'>
    {% for company in company_pagination.items %}
    {{ render_company(company)}}
    {% endfor %}
</div><!--newest-company-list-->
</div>
<p class='list-more text-center'>
<a href='{{ url_for('company.index') }}' class='btn btn-success btn-lg list-more-btn'>查看更多</a>

{% endblock %}
